.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #696973;

  --primary-color: #049684;
  --inverted-primary-color: #939898;
  --secondary-color: #84ff04;
  --inverted-secondary-color: #091100;
  
}