.app.light {
  --bg-color: #c8c8ca;
  --inverted-bg-color: #1b1ba0da;
  --primary-color: #041c65;
  --inverted-primary-color: #696a6b;
  --secondary-color: #8471ff;
  --inverted-secondary-color: #050409;
}
